.body {
  font-family: 'Quando', serif;
}

.main-area {
  width: 90vw;
  height: 100vw;
  margin: auto;
}

.now, .then {
  display: inline-block;
  width: 44vw;
  margin: auto;
  text-align: center;
}

.now {
  background-color: pink;
}

.then {
  background-color: rgb(223, 171, 117);
}

button {
  width = 100%;
  display: block;
  margin: 1vw;
  padding: 1vw 1vw;
  cursor: pointer;
  user-select: none;
  text-decoration: none !important;
  background-color: hsla(270, 28%, 97%, 0.2);
  border: 0 none;
  border-radius: 8px;
}

.now__heading--modern, .then__heading--old {
  font-size: 6vw;
  margin: 2vw;
}

.now__subtitle {
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

.input-text {
  text-align: center;
  padding: 0;
  margin: 0;
  color: rgb(82, 28, 8);
  width: auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(251, 245, 251);
}
